 <nav>
    <div class="nav-wrapper">
      <a href="faculties" class="brand-logo">Inicio</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="schools">Carreras</a></li>
        <li><a href="courses">Ramos</a></li>
      </ul>
    </div>
  </nav>