<h1 class="center-align">Editar carrera</h1>

<div class="row">
    <div class="col l6 offset-l3 m8 offset-m2 s10 offset-s1">
        <div class="card-panel white">
			<%= render 'form' %>
			<%= link_to 'Ver', @faculty %> |
			<%= link_to 'Volver', faculties_path %>
 		</div>
    </div>
</div>