 <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="faculties">Facultades</a></li>
        <li><a href="courses">Ramos</a></li>
      </ul>
    </div>
  </nav>