 <nav>
    <div class="nav-wrapper">
      <a href="courses" class="brand-logo">Inicio</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      	<li><a href="faculties">Facultades</a></li>
        <li><a href="schools">Carreras</a></li>
      </ul>
    </div>
  </nav>