<!DOCTYPE html>
<html>
<head>
 <title>Pronto...</title>
		<%= stylesheet_link_tag 'materialize', media: 'all', 'data-turbolinks-track' => true %>
  		<link href='http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet'>
</head>
<body class="white">

<%= yield %>
<%= javascript_include_tag 'jquery-1.10.2'%>
<%= javascript_include_tag 'materialize.min'%>
</body>
</html>
